.env
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
auth.json
database/Dumps
error.log
npm-debug.log
public
public/thumbs
yarn-error.log
.vite_cache/
vite.config.js.timestamp*.mjs
.env.testing
tests-js/output/
.npmrc
